@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-text: #171717;
  --color-text-muted: #737373;
  --color-accent: #9d8ae8;
  --color-accent-light: #ddd4f7;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Remove browser default number input arrows */

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
